@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&family=Roboto:ital,wght@1,100&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #2b4865;
  font-family: "Quicksand", "Roboto", sans-serif;
}
header {
  width: 50%;
  margin: 50px auto;
}
input[type="text"] {
  width: 80%;
  padding: 14px 0;
  font-size: large;
}
input[type="text"]:focus {
  outline: none !important;
  border: 1px solid #2b4865;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
button {
  padding: 17px 0;
  font-weight: 600;
  width: 80px;
  color: white;
  background-color: #0e1b28;
  border: none;
  cursor: pointer;
}
.todos {
  width: 60%;
  margin: 50px auto;
}
.todo {
  width: 90%;
  margin: 20px auto;
  height: 60px;
  background: #781c68;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}
